.page-item.active .page-link{
    z-index: 3 !important;
    color: #fff !important;
    background-color: #30cc8b !important;
    border-color: #31cc8b !important;
}

.icono-buscar {
    margin-left: -24px !important;
}


.buttonAgregar{
    margin-top: 16%;
}


.top4{
    margin-top: 1%;
}