.top5 {
    margin-top: 2%;
}

.iconEdit {
    color: #5e72e4 !important;
    font-size: 22px !important;
    cursor: pointer;
    padding-right: 6%;
}

.iconElimi {
    color: #a00c1f !important;
    font-size: 22px !important;
    cursor: pointer;
    padding-right: 6%;
}