<div class="header bg-gradient-red pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Oficina comercial / Detalles</h6>
                            <h2 class="mb-0">Seleccione criterios de busqueda</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-row justify-content-md-center mb-2">
                            <div class="form-group col-md-1">
                                <select name="" id="tipoCliente" class="form-control">
                                    <option value="">Moneda</option>
                                    <option value="P">USD</option>
                                    <option value="E">EUR</option>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <input type="text" class="form-control" id="nombre" placeholder="Nro Oficina">
                            </div>
                            <div class="form-group col-md-2">

                                <select name="" id="" class="form-control">
                                            <option value="">Estados</option>
                                            <option value="">Prueba1</option>
                                            <option value="">Prueba2</option>
                                        </select>

                            </div>
                            <div class="form-group col-md-2">
                                <input type="number" class="form-control" id="numCuenta" placeholder="Monto">

                            </div>
                            <div class="form-group col-md-1">
                                <div class="input-group-prepend">
                                    <select name="" id="" class="form-control">
                                        <option value="">Menor</option>
                                        <option value="">Mayor</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-md-2">
                                <select name="" id="" class="form-control">
                                            <option value="">Estatus</option>
                                            <option value="">Desactivado</option>
                                            <option value="">Activado</option>
                                        </select>


                            </div>
                            <div class="col-md-2">
                                <div>
                                    <button type="submit" class="btn bg-gradient-red text-white"> ++ Buscar ++ <i
                                        aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="row top5">
                        <div class="col-md-12 text-center">
                            <div class="table-responsive">
                                <div class="table-responsive-sm table-bordered">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Oficina</th>
                                                <th scope="col">Descripcion</th>
                                                <th scope="col">Estado</th>
                                                <th scope="col">Municipio</th>
                                                <th scope="col">Direccion</th>
                                                <th scope="col">Estatus</th>
                                                <th scope="col">Accion</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>401</td>
                                                <td>prueba</td>
                                                <td>Miranda</td>
                                                <td>Zamora</td>
                                                <td>guatire</td>
                                                <td>Activa</td>
                                                <td>
                                                    <i class="fas fa-edit iconEdit"></i>
                                                    <i class="far fa-trash-alt iconElimi"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>