<div class="header bg-gradient-red pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Custodia</h6>
                            <h2 class="mb-0">Exportacion / Cliente con titulos en custodia </h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Chart -->
                    <form>
                        
                        <div class="form-row justify-content-md-center mb-2 top5">
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" id="nombre" placeholder="Cliente">
                            </div>
                            <div class="form-group col-md-3">
                                <select name="" id="tipoAuditoria" class="form-control">
                                    <option value="">Todos los titulos</option>
                                    <option value="P">PDVSA FIN LDT</option>
                                </select>
                            </div>

                            <div class="form-group col-md-2">

                                <button type="submit" class="btn bg-gradient-red text-white">Buscar<i aria-hidden="true"></i></button>

                            </div>
                        </div>



                    </form>
                    <div class="row top5">
                        <div class="col-md-12 text-center">
                            <div class="table-responsive">
                                <div class="table-responsive-sm table-bordered">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Cliente</th>
                                                <th scope="col">Titulo</th>
                                                <th scope="col">Estado</th>
                                                <th scope="col">Moneda denominacion</th>
                                                <th scope="col">Moneda negociacion</th>
                                                <th scope="col">Emision</th>
                                                <th scope="col">Vencimientos</th>
                                                <th scope="col">Fecha custodia</th>
                                                <th scope="col">Accion</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Angel Herrera</td>
                                                <td>Farmatodo</td>
                                                <td>Disponible</td>
                                                <td>USD</td>
                                                <td>USD</td>
                                                <td>16-04-2022</td>
                                                <td>16-04-2022</td>
                                                <td>16-04-2022</td>
                                                <td>
                                                    <i class="fas fa-edit iconEdit" ></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
