.top {
    margin-top: 2%;
}

.top5 {
    margin-top: 5%;
}

.iconEdit {
    color: #5e72e4 !important;
    font-size: 22px !important;
    cursor: pointer;
    padding-right: 6%;
}

.tituloModal {
    color: white !important;
    font-size: 20px !important;
}

.iconElimi {
    color: #a00c1f !important;
    font-size: 22px !important;
    cursor: pointer;
}

.headerModalE {
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.textRojo {
    color: #a00c1f !important;
}

.tituloP {
    background: -webkit-linear-gradient(#f5365c, #f56036);
    color: rgb(255, 253, 253) !important;
    font-weight: bold;
}