<div class="header bg-gradient-red pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Custodia</h6>
                            <h2 class="mb-0">Estructura tarifaria</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <button type="submit" class="btn bg-gradient-red text-white" (click)="add(agregar)"> +
                                    Agregar + <i aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <form>
                        <div class="form-row justify-content-md-center mb-2 top">
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" id="nombre" placeholder="Comision">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" id="des" placeholder="Cliente">
                            </div>
                            <div class="form-group col-md-2">
                                <button type="submit" class="btn bg-gradient-red text-white">++ Buscar ++<i
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                    <div class="row top">
                        <div class="col-md-12 text-center">
                            <div class="table-responsive">
                                <div class="table-responsive-sm table-bordered">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Comision</th>
                                                <th scope="col">General</th>
                                                <th scope="col">Cliente</th>
                                                <th scope="col">Salida interna %</th>
                                                <th scope="col">Salida interna monto</th>
                                                <th scope="col">Salida interna moneda</th>
                                                <th scope="col">Salida externa %</th>
                                                <th scope="col">Salida externa monto</th>
                                                <th scope="col">Salida externa moneda</th>
                                                <th scope="col">Anual nacional %</th>
                                                <th scope="col">Anual nacional monto</th>
                                                <th scope="col">Anual nacional moneda</th>
                                                <th scope="col">Anual extranjero %</th>
                                                <th scope="col">Anual extranjero monto</th>
                                                <th scope="col">Anual extranjero moneda</th>
                                                <th scope="col">Fecha</th>
                                                <th scope="col">Usuario</th>
                                                <th scope="col">Accciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>General</td>
                                                <td>No</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>100</td>
                                                <td>USD</td>
                                                <td>1</td>
                                                <td>100</td>
                                                <td>USD</td>
                                                <td>1</td>
                                                <td>100</td>
                                                <td>USD</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>12-02-2022</td>
                                                <td>NM11383</td>
                                                <td>
                                                    <i class="fas fa-edit iconEdit " (click)="modficar(content)"></i>
                                                    <i class="far fa-trash-alt iconElimi" (click)="open(eliminar)"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header bg-gradient-red">
        <h4 class="modal-title tituloModal" id="modal-basic-title">Editar Registro</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <ul ngbNav #nav="ngbNav" class="nav-tabs">
                    <li ngbNavItem>
                        <a ngbNavLink>Comision</a>
                        <ng-template ngbNavContent>
                            <section id="moneda">
                                <form action="">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="">Comision</label>
                                            <input type="text" id="" required class="form-control">
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="tipo">Indicador</label>
                                            <select name="" class="form-control" id="tipo" required>
                                                <option value="">SELECCIONE</option>
                                                <option value="d">General</option>
                                                <option value="e">Especifica</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </section>

                        </ng-template>
                    </li>
                    <li ngbNavItem>
                        <a ngbNavLink>Transaccion</a>
                        <ng-template ngbNavContent>
                            <section id="divisa">
                                <h4 class="card-title text-center tituloP">Salida interna</h4>
            
                                <div class="row justify-content-md-center top">
                                   
                                    <div class="form-check col-sm-2 col-md-2 col-lg-2">
                                        <input class="form-check-input" type="checkbox" id="" placeholder="Porcentaje">
                                        <input type="text" class="form-control" placeholder="porcentaje">
                                    </div>
                                    <div class="form-check col-sm-2 col-md-2 col-lg-2">
                                        <input class="form-check-input" type="checkbox" id="" placeholder="Porcentaje">
                                        <input type="number" class="form-control" placeholder="Monto">
                                    </div>
                                </div>
                                <h4 class="card-title text-center tituloP top">Salida externa</h4>
                                <div class="row justify-content-md-center mb-2 top">
                                    <div class="form-check col-sm-2 col-md-2 col-lg-2">
                                        <input class="form-check-input" type="checkbox" id="" placeholder="Porcentaje">
                                        <input type="text" class="form-control" placeholder="porcentaje">
                                    </div>
                                    <div class="form-check col-sm-2 col-md-2 col-lg-2">
                                        <input class="form-check-input" type="checkbox" id="" placeholder="Porcentaje">
                                        <input type="number" class="form-control" placeholder="Monto">
                                    </div>
                                </div>
                                <h4 class="card-title text-center tituloP top">Anual nacional</h4>
                                <div class="row justify-content-md-center mb-2 top">
                                    <div class="form-check col-sm-2 col-md-2 col-lg-2">
                                        <input class="form-check-input" type="checkbox" id="" placeholder="Porcentaje">
                                        <input type="text" class="form-control" placeholder="porcentaje">
                                    </div>
                                    <div class="form-check col-sm-2 col-md-2 col-lg-2">
                                        <input class="form-check-input" type="checkbox" id="" placeholder="Porcentaje">
                                        <input type="number" class="form-control" placeholder="Monto">
                                    </div>
                                </div>
                                <h4 class="card-title text-center tituloP top">Anual extranjero</h4>
                                <div class="row justify-content-md-center mb-2 top">
                                    <div class="form-check col-sm-2 col-md-2 col-lg-2">
                                        <input class="form-check-input" type="checkbox" id="" placeholder="Porcentaje">
                                        <input type="text" class="form-control" placeholder="porcentaje">
                                    </div>
                                    <div class="form-check col-sm-2 col-md-2 col-lg-2">
                                        <input class="form-check-input" type="checkbox" id="" placeholder="Porcentaje">
                                        <input type="number" class="form-control" placeholder="Monto">
                                    </div>
                                </div>



                            </section>
                        </ng-template>
                    </li>
                    <li ngbNavItem>
                        <a ngbNavLink>Cliente</a>
                        <ng-template ngbNavContent>
                            <section id="divisa">
                                <div class="row top4">
                                    <div class="col-md-12 text-center">
                                        <div class="table-responsive">
                                            <div class="table-responsive-sm table-bordered">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Cliente</th>
                                                            <th scope="col">CED 7 RIF</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Angel Herrera</td>
                                                            <td>22045794</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </ng-template>
                    </li>
                </ul>

                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
        </div>

        <div class="row top5">
            <div class="col-md-12">
                <div class="text-center">
                    <p> <span class="textRojo"><strong>NOTA:</strong></span> El Campo Deben Ser Llenados Para Poder Procesar El Formulario.</p>
                </div>

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-gradient-red text-white" (click)="c('Save click')">Modificar </button>
        <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
</ng-template>


<ng-template #eliminar let-c="close" let-d="dismiss">
    <div class="modal-header headerModalE">
        <h4 class="modal-title tituloModal" id="modal-basic-title">Eliminar Registro</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Estas Seguro de eliminar el Siguiente Registro <strong> Descripción: Banco de venezuela</strong> </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-gradient-red text-white" (click)="c('Save click')">Eliminar </button>
        <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
</ng-template>


<ng-template #agregar let-c="close" let-d="dismiss">
    <div class="modal-header bg-gradient-red">
        <h4 class="modal-title tituloModal" id="modal-basic-title">Agregar accion</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <ul ngbNav #nav="ngbNav" class="nav-tabs">
                    <li ngbNavItem>
                        <a ngbNavLink>Comision</a>
                        <ng-template ngbNavContent>
                            <section id="moneda">
                                <form action="">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="">Comision</label>
                                            <input type="text" id="" required class="form-control">
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="tipo">Indicador</label>
                                            <select name="" class="form-control" id="tipo" required>
                                                <option value="">SELECCIONE</option>
                                                <option value="d">General</option>
                                                <option value="e">Especifica</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </section>

                        </ng-template>
                    </li>
                    <li ngbNavItem>
                        <a ngbNavLink>Transaccion</a>
                        <ng-template ngbNavContent>
                            <section id="divisa">
                                <h4 class="card-title text-center tituloP">Salida interna</h4>
                                <div class="row justify-content-md-center mb-2 top">
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <input type="checkbox" class="form-control">
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <input type="text" class="form-control" placeholder="porcentaje">
                                    </div>
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <input type="checkbox" class="form-control">
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <input type="number" class="form-control" placeholder="monto">
                                    </div>
                                </div>
                                <h4 class="card-title text-center tituloP top">Salida externa</h4>
                                <div class="row justify-content-md-center mb-2 top">
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <input type="checkbox" class="form-control">
                                    </div>
                                    <div class="col-sm-3 col-lg-3 col-lg-3">
                                        <input type="text" class="form-control" placeholder="porcentaje">
                                    </div>
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <input type="checkbox" class="form-control">
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <input type="number" class="form-control" placeholder="monto">
                                    </div>
                                </div>
                                <h4 class="card-title text-center tituloP top">Anual nacional</h4>
                                <div class="row justify-content-md-center mb-2 top">
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <input type="checkbox" class="form-control">
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <input type="text" class="form-control" placeholder="porcentaje">
                                    </div>
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <input type="checkbox" class="form-control">
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <input type="number" class="form-control" placeholder="monto">
                                    </div>
                                </div>
                                <h4 class="card-title text-center tituloP top">Anual extranjero</h4>
                                <div class="row justify-content-md-center mb-2 top">
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <input type="checkbox" class="form-control">
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <input type="text" class="form-control" placeholder="porcentaje">
                                    </div>
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <input type="checkbox" class="form-control">
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <input type="number" class="form-control" placeholder="monto">
                                    </div>
                                </div>

                            </section>
                        </ng-template>
                    </li>
                    <li ngbNavItem>
                        <a ngbNavLink>Cliente</a>
                        <ng-template ngbNavContent>
                            <section id="divisa">
                                <div class="row top4">
                                    <div class="col-md-12 text-center">
                                        <div class="table-responsive">
                                            <div class="table-responsive-sm table-bordered">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Cliente</th>
                                                            <th scope="col">CED / RIF</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Angel Herrera</td>
                                                            <td>22045794</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </ng-template>
                    </li>
                </ul>

                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-gradient-red text-white" (click)="c('Save click')">Agregar </button>
        <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
</ng-template>