.top {
    margin-top: 13%;
}

.top1 {
    margin-top: 2%;
}

.top5 {
    margin-top: 5%;
}

.tituloP {
    background: -webkit-linear-gradient(#f5365c, #f56036);
    color: rgb(255, 253, 253) !important;
    font-weight: bold;
}