<div class="header bg-gradient-red pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Custodia</h6>
                            <h2 class="mb-0">Eventos / Consultas</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>


                        <div class="form-row justify-content-md-center mb-1">
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Fecha desde" name="dp" [(ngModel)]="fechaDesde" ngbDatepicker #fd="ngbDatepicker" [placement]="placement" [positionTarget]="buttonEl">
                                            <div class="input-group-append">
                                                <button #buttonEl class="btn calendario" (click)="fd.toggle()" type="button"></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Fecha hasta" name="dp" [(ngModel)]="fechaHasta" ngbDatepicker #fd="ngbDatepicker" [placement]="placement" [positionTarget]="buttonEl">
                                            <div class="input-group-append">
                                                <button #buttonEl class="btn calendario" (click)="fd.toggle()" type="button"></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn bg-gradient-red text-white"> ++ Buscar ++<i aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="row top5">
                            <div class="col-md-12 text-center">
                                <div class="table-responsive">
                                    <div class="table-responsive-sm table-bordered">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Id</th>
                                                    <th scope="col">Usuario</th>
                                                    <th scope="col">Transaccion</th>
                                                    <th scope="col">Inicio</th>
                                                    <th scope="col">Fin</th>
                                                    <th scope="col">Eststus proceso</th>
                                                    <th scope="col">Error</th>
                                                    <th scope="col">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>

                                                    <td>123</td>
                                                    <td>NM11383</td>
                                                    <td>Pago cupones</td>
                                                    <td>11/02/2022</td>
                                                    <td>11/02/2022</td>
                                                    <td>Finalizado</td>
                                                    <td>Con muchos errores</td>
                                                    <td>
                                                        <i class="fas fa-edit iconEditt" (click)="modficar(content)"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header bg-gradient-red text-white">
        <h4 class="modal-title tituloModal" id="modal-basic-title">Agregar</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">

        <div class="row top5">
            <div class="col-md-12 text-center">
                <div class="table-responsive">
                    <div class="table-responsive-sm table-bordered">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Proceso</th>
                                    <th scope="col">Instruccion</th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Titulo</th>
                                    <th scope="col">Transaccion</th>
                                    <th scope="col">Detalle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>No posee</td>
                                    <td>No posee</td>
                                    <td>Angel Herrera</td>
                                    <td>Venezuela es hoy</td>
                                    <td>Pago cupones</td>
                                    <td>
                                        <i class="fas fa-edit iconEditt" (click)="modficar(content)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
</ng-template>