.iconEditt {
    color: #5e72e4 !important;
    font-size: 22px !important;
    cursor: pointer;
    padding-right: 6%;
}

.topIconCalendario {
    font-size: 30px !important;
    cursor: pointer;
}

.top2 {
    margin-top: 2%;
}