<div class="header bg-gradient-red pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Custodia</h6>
                            <h2 class="mb-0">Exportacion / Titulos en custodia </h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Chart -->
                    <form>
                        
                        <div class="form-row justify-content-md-center mb-2 top5">
                            
                            <div class="form-group col-md-3">
                                <select name="" id="tipoAuditoria" class="form-control">
                                    <option value="">Todos los titulos</option>
                                    <option value="P">PDVSA FIN LDT</option>
                                </select>
                            </div>

                            <div class="form-group col-md-2">

                                <button type="submit" class="btn bg-gradient-red text-white">Buscar<i aria-hidden="true"></i></button>

                            </div>
                        </div>



                    </form>
                    <div class="row top5">
                        <div class="col-md-12 text-center">
                            <div class="table-responsive">
                                <div class="table-responsive-sm table-bordered">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Titulo</th>
                                                <th scope="col">Clientes</th>
                                                <th scope="col">Natural</th>
                                                <th scope="col">Extranjero</th>
                                                <th scope="col">Juridico</th>
                                                <th scope="col">Porcentaje</th>
                                                <th scope="col">Cantidad</th>
                                                <th scope="col">Nominal</th>
                                                <th scope="col">Monto</th>
                                                <th scope="col">Accion</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Farmatodo</td>
                                                <td>20</td>
                                                <td>10</td>
                                                <td>5</td>
                                                <td>5</td>
                                                <td>1%</td>
                                                <td>100000</td>
                                                <td>1</td>
                                                <td>10000</td>
                                                <td>
                                                    <i class="fas fa-edit iconEdit" ></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

