<div class="header bg-gradient-red pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Custodia</h6>
                            <h2 class="mb-0">Carga inicial / Validacion</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center tituloP top">Datos</h4>
                    <form>
                        <div class="form-row justify-content-md-center mb-2">
                            <div class="form-group col-md-2">
                                <label for="">Numero de mapas</label>
                                <select name="" id="tipoCliente" class="form-control">
                                    <option value="">7 - Archivo a cargar</option>
                                </select>
                            </div>


                            <div class="form-group col-md-2">
                                <label for="inputEmail4">Archivo</label>
                                <select name="" id="tipoCliente" class="form-control">
                                    <option value="">7 - Archivo de titulos custodia</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputEmail4">Proceso</label>
                                <select name="" id="tipoCliente" class="form-control">
                                    <option value="">18 - infi - 020 - venezuela.xls</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputEmail4">Entidad</label>
                                <select name="" id="tipoCliente" class="form-control">
                                    <option value="">1 - infi_tb_titulos</option>
                                </select>
                            </div>
                            <div class="form-group col-md-1 top">
                                <input type="text" class="form-control" id="" placeholder="Usuario">

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button type="submit" class="btn bg-gradient-red text-white"> Procesar <i
                                            class="fas fa-check-double"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <h4 class="card-title text-center tituloP top">Datos del proceso</h4>
                    <div class="text-center">
                        <label for="">Inicio : 12-02-2022</label>
                    </div>
                    <div class="text-center">
                        <label for="">Campos a procesar : 70</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>