

<div class="header bg-gradient-red pb-8 pt-4 pt-md-8">
  <div class="container-fluid">
    <p></p>
    </div>
</div>







<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-10">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Configuraciones</h6>
              <h2 class="mb-0">Generales</h2>
            </div>
            <div class="col-md-2 text-right">

              
             
                <button  mat-mini-fab color="primary" aria-label="Agregar">
                  <mat-icon class="waves waves-effect waves-light">more_vert</mat-icon>
                </button>
              
            </div>
            

          </div>
        </div>
        <div class="card-body">
         <!-- Contenido WEB Configuracion Menu -->
          
         <div class="container">
           <div class="row">
           
              <div class="col-md-3">
                      
              </div>
              <div class="col-md-6">
                
                <form class="navbar-search">
                  <div class="form-group" [ngClass]="{ 'focused': focus === true }">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                      </div>
                      <input class="form-control" placeholder="Buscar" type="text" (focus)="focus = true"  (blur)="focus = false">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-sliders-h"></i></span>
                        &nbsp; 
                      </div>
                    </div>
                  </div>
                </form>
                
              </div>
              <div class="col-md-3">
                                    
                
              </div>
            </div> 
          </div>


          <br>


        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" (selectedIndexChange)="ConsultarOficinas($event)"> 
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">supervisor_account</mat-icon>
              BENEFICIARIOS
            </ng-template>
           
         
           
          </mat-tab>
        
          <mat-tab>
            <ng-template mat-tab-label >
              <mat-icon class="example-tab-icon">apartment</mat-icon>
              OFICINAS
            </ng-template>

            <mat-list>
            
              <mat-list-item *ngFor="let ofi of oficinas; let index = index"> 
                <div class="col-md-4 text-justify">
                    {{ ofi.DESCRIPCION }}
                </div>
                <div class="col-md-3 text-justify">
                  {{ ofi.ESTADO }}
                </div>
                <div class="col-md-3 text-justify">
                  {{ ofi.MUNICIPIO }}
                </div>
                <div class="col-md-2 text-right">               
                  <button color="primary" mat-icon-button aria-label="Modificar">
                    <mat-icon>edit</mat-icon>
                  </button>
                            
                  <button color="accent" mat-icon-button aria-label="Eliminar">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>

                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
            
            <mat-paginator [length]="lengthOfi"
              (page)="pageChangeEvent($event)"
              [pageSize]="pageSizeOfi"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event"
              aria-label="Select page">
            </mat-paginator>




          </mat-tab>
        
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">settings_accessibility</mat-icon>
              USUARIOS ESPECIALES
            </ng-template>
        
            Content 3
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">receipt_long</mat-icon>
              AUDITORIA
            </ng-template>
        
            Content 3
          </mat-tab>
        </mat-tab-group>
        




     
      <br>





       
          <!-- Card stats -->
         


        </div>
      </div>
    </div>
  </div>    
</div>


<!-- 
      <div class="row">
        <div class="col-xl-3 col-lg-6 mb-4">
          <a routerLinkActive="active" [routerLink]="['/auditoria']">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-8 text-center">
                    <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                    <span class="h4 font-weight-bold text-uppercase mb-0">Auditoria</span>
                  </div>
                  <div class="col-lg-4 text-center">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-info"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
          <a routerLinkActive="active" [routerLink]="['/beneficiarios']">
            <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-8 text-center">
                      <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                      <span class="h4 font-weight-bold text-uppercase mb-0">Beneficiarios</span>
                    </div>
                    <div class="col-lg-4 text-center">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
          <a routerLinkActive="active" [routerLink]="['/calendario']">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-8 text-center">
                    <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                    <span class="h4 font-weight-bold text-uppercase mb-0">Calendario</span>
                  </div>
                  <div class="col-lg-4 text-center">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
          <a routerLinkActive="active" [routerLink]="['/dinamicos']">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 text-center">
                    <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                    <span class="h4 font-weight-bold text-uppercase mb-0">Campos Dinámicos</span>
                  </div>
                  <div class="col-lg-4 text-center">
                    <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                      <i class="fas fa-file-code"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
          <a routerLinkActive="active" [routerLink]="['/indicadores']">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 text-center">
                    <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                    <span class="h4 font-weight-bold text-uppercase mb-0">Indicadores</span>
                  </div>
                  <div class="col-lg-4 text-center">
                    <div class="icon icon-shape bg-blue text-white rounded-circle shadow">
                      <i class="fas fa-chart-line"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
          <a routerLinkActive="active" [routerLink]="['/instFinancieros']">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 text-center">
                    <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                    <span class="h4 font-weight-bold text-uppercase mb-0">Instrumentos Financieros</span>
                  </div>
                  <div class="col-lg-4 text-center">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-hand-holding-usd"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
          <a routerLinkActive="active" [routerLink]="['/oficinas']">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-8 text-center">
                    <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                    <span class="h4 font-weight-bold text-uppercase mb-0">Oficinas</span>
                  </div>
                  <div class="col-lg-4 text-center">
                    <div class="icon icon-shape bg-gray text-white rounded-circle shadow">
                      <i class="fas fa-building"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
          <a routerLinkActive="active" [routerLink]="['/paises']">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-8 text-center">
                    <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                    <span class="h4 font-weight-bold text-uppercase mb-0">Países</span>
                  </div>
                  <div class="col-lg-4 text-center">
                    <div class="icon icon-shape bg-purple text-white rounded-circle shadow">
                      <i class="fas fa-globe-americas"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
            <a routerLinkActive="active" [routerLink]="['/recompra']">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-8 text-center">
                      <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                      <span class="h4 font-weight-bold text-uppercase mb-0">Precios Recompra</span>
                    </div>
                    <div class="col-lg-4 text-center">
                      <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                        <i class="fas fa-money-bill-alt"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-6 mb-4">
            <a routerLinkActive="active" [routerLink]="['/titulos']">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-8 text-center">
                      <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                      <span class="h4 font-weight-bold text-uppercase mb-0">Precios Títulos</span>
                    </div>
                    <div class="col-lg-4 text-center">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="fas fa-laptop-code"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-6 mb-4">
            <a routerLinkActive="active" [routerLink]="['/transaccionesfijas']">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-8 text-center">
                      <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                      <span class="h4 font-weight-bold text-uppercase mb-0">Transacciones Fijas</span>
                    </div>
                    <div class="col-lg-4 text-center">
                      <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                        <i class="fas fa-folder"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-6 mb-4">
            <a routerLinkActive="active" [routerLink]="['/usuariosespeciales']">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-8 text-center">
                      <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                      <span class="h4 font-weight-bold text-uppercase mb-0">Usuarios Especiales</span>
                    </div>
                    <div class="col-lg-4 text-center">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="fas fa-calendar-alt"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
      </div>

 -->


