<div class="header bg-gradient-red pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-lg-6 mb-4">
              <a routerLinkActive="active" [routerLink]="['/generales']">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-8 text-left">
                        <h5 class="card-title text-uppercase text-muted mb-0">INFI</h5>
                        <span class="h5 font-weight-bold text-uppercase mb-0">Consultas</span>
                      </div>
                      <div class="col-lg-4 text-center">
                        <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                          <i class="fas fa-address-card"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-success mr-2"><i></i> 323</span>
                      <span class="text-nowrap">Registrados</span>
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-3 col-lg-6 mb-4">
              <a routerLinkActive="active" [routerLink]="['/clientes']">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-8 text-left">
                          <h5 class="card-title text-uppercase text-muted mb-0">INFI</h5>
                          <span class="h5 font-weight-bold text-uppercase mb-0">Exportación</span>
                        </div>
                        <div class="col-lg-4 text-center">
                          <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                            <i class="fas fa-address-card"></i>
                          </div>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="text-success mr-2"><i></i> 251</span>
                        <span class="text-nowrap">Registrados</span>
                      </p>
                    </div>
                </div>
              </a>
            </div>
            <div class="col-xl-3 col-lg-6 mb-4">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-8 text-left">
                        <h5 class="card-title text-uppercase text-muted mb-0">INFI  </h5>
                        <span class="h5 font-weight-bold text-uppercase mb-0">Informes</span>
                      </div>
                      <div class="col-lg-4 text-center">
                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                          <i class="fas fa-file"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-success mr-2">311</span>
                      <span class="text-nowrap">Registrados</span>
                    </p>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 mb-4">
              <a routerLinkActive="active" [routerLink]="['/blotters']">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-8 text-left">
                        <h5 class="card-title text-uppercase text-muted mb-0">INFI</h5>
                        <span class="h5 font-weight-bold text-uppercase mb-0">Transacciones</span>
                      </div>
                      <div class="col-lg-4 text-center">
                        <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                          <i class="fas fa-shopping-bag"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                      <span class="text-nowrap">Since last month</span>
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
  
