.inputModifica {
    margin-left: 1% !important;
    border-radius: 0.375rem !important;
    border-left: 1px solid !important;
    border: 1px solid #cad1d7 !important;
}

.topIconBusqueda {
    margin-top: 2% !important;
    font-size: 27px !important;
    cursor: pointer;
}

.topIconCalendario {
    font-size: 30px !important;
    cursor: pointer;
}

.topFecha {
    margin-top: 15%;
}

.top5 {
    margin-top: 5%;
}

.buttom {
    border-radius: -9% !important;
}

.radio {
    border-radius: 8%;
    margin-top: -2%;
}

.iconEdit {
    color: #5e72e4 !important;
    font-size: 22px !important;
    cursor: pointer;
    padding-right: 6%;
}

.custom-file-upload {
    border: 1px solid #2dce89;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    /* border-radius: 5%; */
    color: white;
    background-color: #2dce89;
}

input[type="file"] {
    display: none;
}

.headerModal {
    background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}

.top2 {
    margin-top: 2% !important;
}

.tituloModal {
    color: white !important;
    font-size: 20px !important;
}

.iconElimi {
    color: #a00c1f !important;
    font-size: 22px !important;
    cursor: pointer;
    padding-right: 6%;
}

.headerModalE {
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.top1 {
    margin-top: 1% !important;
}

.textRojo {
    color: #a00c1f !important;
}

.top2 {
    margin-top: 2% !important;
}