.page-item.active .page-link {
    z-index: 3 !important;
    color: #fff !important;
    background-color: #30cc8b !important;
    border-color: #31cc8b !important;
}

.icono-buscar {
    margin-left: -24px !important;
}

.buttonAgregar {
    margin-top: 16%;
}

.top4 {
    margin-top: 1%;
}

.iconEditt {
    color: #5e72e4 !important;
    font-size: 22px !important;
    cursor: pointer;
    padding-right: 6%;
}

.tituloP {
    background: -webkit-linear-gradient(#f5365c, #f56036);
    color: rgb(255, 253, 253) !important;
    font-weight: bold;
}