<div class="header bg-gradient-red pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>    
</div>

<div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Generales</h6>
                <h2 class="mb-0">Instrumentos Financieros</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row mb-4">
              <div class="col-md-12 text-left">
                <button type="button" class="btn bg-gradient-red text-white" (click)="modficar(agregar)">+ Agregar  + <i aria-hidden="true"></i> </button>
              </div> 
            </div>

            <div class="row justify-content-md-center mb-4">
              <div class="col-md-3">                
                <select class="form-control" name="" id="">
                    <option value="">Seleccione Descripción...</option>
                 </select> 
              </div>
              <div class="col-md-2">                
                <button type="button" class="btn bg-gradient-red text-white">Buscar <i class="fa fa-search" aria-hidden="true"></i> </button>
              </div>
            </div>
            

            <div class="card shadow">
              <div class="row top">
                  <div class="col-md-12 text-center">
                      <table class="table-responsive">
                          <div class="table-responsive-sm table-bordered">
                            <table class="table table-striped table-hover">
                              <thead>
                              <tr>
                                <th scope="col">Descripción</th>
                                <th scope="col">Forma Orden</th>
                                <th scope="col">Rendimiento</th>    
                                <th scope="col">Múltiples Ordenes</th>
                                <th scope="col">Inventario</th>
                                <th scope="col">Tipo de Producto</th>
                                <th scope="col">Manejo de Producto</th>
                                <th scope="col">Acción</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td>SUBASTA COMPETITIVA UNICA ORDEN - SUBDIV</td>
                                <td>SUBASTA COMPETITIVA</td>
                                <td>PRECIO</td>
                                <td>NO</td>
                                <td>SI</td>
                                <td>SUBASTA_DIVISA</td>
                                <td>UNICO</td>
                                <td>
                                  <i class="fas fa-edit iconEdit" (click)="modficar(modificar)"></i>
                                  <i class="far fa-trash-alt iconElimi"  (click)="open(eliminar)"></i> 
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                      </table>
                  </div>
              </div>
          </div>
            
          </div>
        </div>
      </div>
    </div>    
  </div>

  

  <ng-template #modificar let-c="close" let-d="dismiss">
    <div class="modal-header headerModalE">
      <h4 class="modal-title tituloModal" id="modal-basic-title">Editar Instrumento Finaciero </h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Descripción</label>                    
              <input type="text" class="form-control" value="SUBASTA COMPETITIVA UNICA ORDEN - SUBDIV">
            </div>
            <div class="form-group col-md-6">
              <label for="nombre">Rendimiento</label>
              <select class="form-control" name="" id="">
                <option value="">Seleccione</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Forma Orden</label>                    
              <select class="form-control" name="" id="">
                <option value="">Seleccione</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="nombre">Tipo de Producto</label>
              <select class="form-control" name="" id="">
                <option value="">Seleccione</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Manejo de Producto</label>                    
              <select class="form-control" name="" id="">
                <option value="">Seleccione</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="nombre">Multiples Ordenes</label>
              <select class="form-control" name="" id="">
                <option value="">Seleccione</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              
            </div>

            <div class="form-group col-md-6">
                <label for="inputEmail4">Inventario</label>                    
                <select class="form-control" name="" id="">
                  <option value="">Seleccione</option>
                </select>
              </div>

            <div class="form-group col-md-3">
                
              </div>
            
          </div>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bg-gradient-red text-white" (click)="c('Save click')">Modificar </button>
      <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
  </ng-template>



  <ng-template #eliminar let-c="close" let-d="dismiss">
    <div class="modal-header headerModalE">
      <h4 class="modal-title tituloModal" id="modal-basic-title">Eliminar Instrumento Financiero</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <p class="text">Por Favor Confirme si desea eliminar este registro </p>
                    <p> <span class="text"> Instrumento:</span> <strong> SUBASTA COMPETITIVA UNICA ORDEN - SUBDIV</strong> </p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bg-gradient-red text-white" (click)="c('Save click')">Eliminar </button>
      <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
  </ng-template>


  <ng-template #agregar let-c="close" let-d="dismiss">
    <div class="modal-header headerModalE">
      <h4 class="modal-title tituloModal" id="modal-basic-title">Agregar Instrumento Financiero</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Descripción</label>                    
              <input type="text" class="form-control" value="">
            </div>
            <div class="form-group col-md-6">
              <label for="nombre">Rendimiento</label>
              <select class="form-control" name="" id="">
                <option value="">Seleccione</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Forma Orden</label>                    
              <select class="form-control" name="" id="">
                <option value="">Seleccione</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="nombre">Tipo de Producto</label>
              <select class="form-control" name="" id="">
                <option value="">Seleccione</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Manejo de Producto</label>                    
              <select class="form-control" name="" id="">
                <option value="">Seleccione</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="nombre">Multiples Ordenes</label>
              <select class="form-control" name="" id="">
                <option value="">Seleccione</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              
            </div>

            <div class="form-group col-md-6">
                <label for="inputEmail4">Inventario</label>                    
                <select class="form-control" name="" id="">
                  <option value="">Seleccione</option>
                </select>
              </div>

            <div class="form-group col-md-3">
                
              </div>
            
          </div>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bg-gradient-red text-white" (click)="c('Save click')">Guardar </button>
      <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
  </ng-template>