<div class="header bg-gradient-red pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>    
  </div>
  
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Custodia - Informes</h6>
                <h2 class="mb-0">Certficado Bloqueo en Garantias</h2>
              </div>
            </div>
          </div>
          <div class="card-body">

            <div class="row justify-content-md-center mb-4">
                
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6 col-xl-3">
                 <label for="">Cliente</label>
                 <div class="input-group">                      
                    <input type="search" class="form-control float-rigth" placeholder="Cliente" aria-label="Cliente">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <span class="fa fa-search" ngbTooltip="Buscar Cliente"></span>
                      </div>
                    </div>
                  </div> 
                </div>

                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6 col-xl-3">
                    <label for="">Tipo Bloqueo</label>
                    <select name="" id="" class="form-control">
                        <option value="">Selecione</option>
                    </select>
                </div>                
              </div>

              <div class="row justify-content-md-center mb-4">
                <div class="form-group col-md-3">
                    <div class="margenBoton"></div>
                    <button type="button" class="btn bg-gradient-red text-white">Descargar</button>
                  </div>
              </div>
        </div>
      </div>
    </div>    
  </div>
  


