<div class="header bg-gradient-red pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>    
</div>

<div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Generales</h6>
                <h2 class="mb-0">Indicadores</h2>
              </div>
            </div>
          </div>
          <div class="card-body">

            <div class="row mb-4">
              <div class="col-md-12 text-left">
                <button type="button" class="btn bg-gradient-red text-white" (click)="modficar(agregar)">+ Agregar  + <i aria-hidden="true"></i> </button>
              </div> 
            </div>

            <div class="row justify-content-md-center mb-4">
              <div class="col-md-3">                
                <select class="form-control" name="" id="">
                    <option value="">Seleccione Descripción...</option>
                 </select> 
              </div>
              <div class="col-md-2">                
                <button type="button" class="btn bg-gradient-red text-white">Buscar <i class="fa fa-search" aria-hidden="true"></i> </button>
              </div>
            </div>


            <div class="card shadow">
              <div class="row top">
                  <div class="col-md-12 text-center">
                      <table class="table-responsive">
                          <div class="table-responsive-sm table-bordered">
                            <table class="table table-striped table-hover">
                              <thead>
                              <tr>
                                <th scope="col">Descripción</th>
                                <th scope="col">Requerido</th>
                                <th scope="col">Requisito</th>                          
                                <th scope="col">Acción</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td>ACTUALIZAR DATOS DEL CLIENTE EN ALTAIR</td>
                                <td>NO</td>
                                <td>NO</td>
                                <td>
                                  <i class="fas fa-edit iconEdit" (click)="open(content)"></i>
                                  <i class="far fa-trash-alt iconElimi"  (click)="open(eliminar)"></i> 
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                      </table>
                  </div>
              </div>
          </div>

          </div>
        </div>
      </div>
    </div>    
  </div>

  

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header headerModalE">
      <h4 class="modal-title tituloModal" id="modal-basic-title">Editar Indicadores </h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <label for="nombreModal"><strong>Descripción</strong></label>
            </div>
            <div class="col-md-6">
              <label>ACTUALIZAR DATOS DEL CLIENTE EN ALTAIR</label>             
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="nombreModal"><strong>Requisito</strong></label>
          </div>
          <div class="col-md-6">
            <select class="form-control" name="" id="">
                <option value="">Seleccione</option>
            </select>
          </div>
        </div>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bg-gradient-red text-white" (click)="c('Save click')">Modificar </button>
      <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
  </ng-template>



  <ng-template #eliminar let-c="close" let-d="dismiss">
    <div class="modal-header headerModalE">
      <h4 class="modal-title tituloModal" id="modal-basic-title">Eliminar Indicadores</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <p class="text">Por Favor Confirme si desea eliminar este registro </p>
                    <p> <span class="text"> Descripción:</span> <strong> ACTUALIZAR DATOS DEL CLIENTE EN ALTAIR</strong> </p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bg-gradient-red text-white" (click)="c('Save click')">Eliminar </button>
      <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
  </ng-template>


  <ng-template #agregar let-c="close" let-d="dismiss">
    <div class="modal-header headerModalE">
      <h4 class="modal-title tituloModal" id="modal-basic-title">Agregar Indicadores</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <label for="nombreModal"><strong>Descripción</strong></label>
            </div>
            <div class="col-md-6">
             <input type="text" class="form-control">             
            </div>
        </div>
        <div class="row top1">
          <div class="col-md-6">
            <label for="nombreModal"><strong>Requisito</strong></label>
          </div>
          <div class="col-md-6">
            <select class="form-control" name="" id="">
                <option value="">Seleccione</option>
            </select>
          </div>
        </div>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bg-gradient-red text-white" (click)="c('Save click')">Guardar </button>
      <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
  </ng-template>