.top2 {
    margin-top: 2%;
}

.top1 {
    margin-top: 1%;
}

.topIconCalendario {
    font-size: 30px !important;
    cursor: pointer;
}

.iconEditt {
    color: #5e72e4 !important;
    font-size: 22px !important;
    cursor: pointer;
    padding-right: 6%;
}

.tituloModal {
    color: white !important;
    font-size: 20px !important;
}

.iconElimi {
    color: #a00c1f !important;
    font-size: 22px !important;
    cursor: pointer;
    padding-right: 6%;
}

.headerModalE {
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.textRojo {
    color: #a00c1f !important;
}