.top5{
    margin-top: 5%;
}

.iconEdit{
    color:#5e72e4 !important;
    font-size: 22px !important;
    cursor: pointer;
}


.headerModal{
    background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}

.tituloModal{
    color: white !important;
    font-size: 20px !important;
}