.top5{
    margin-top: 5%;
}

.iconEdit{
    color:#5e72e4 !important;
    font-size: 22px !important;
    cursor: pointer;
}


.headerModalE{
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.tituloModal{
    color: white !important;
    font-size: 20px !important;
}