<div class="header bg-gradient-red pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>    
  </div>
  
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Generales</h6>
                <h2 class="mb-0">Usuarios Especiales</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="card shadow">
                <div class="row top">
                    <div class="col-md-12 text-center">
                        <table class="table-responsive">
                            <div class="table-responsive-sm table-bordered">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Cambio Comisión -<br>Ordenes</th>
                                            <th scope="col">Cambio Vehículo -<br>Ordenes</th>
                                            <th scope="col">Multiblotter -<br>Ordenes</th>
                                            <th scope="col">Financiamiento -<br>Ordenes</th>
                                            <th scope="col">Cambio de Precios -<br>Venta de Títulos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>NM110958</td>
                                            <td>NO</td>
                                            <td>SI</td>
                                            <td>NO</td>
                                            <td>SI</td>
                                            <td>SI</td>    
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>




