<div class="header bg-gradient-red pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Beneficiario</h6>
                            <h2 class="mb-0">Seleccione criterios</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <button type="submit" class="btn bg-gradient-red text-white" (click)="add(agregar)"> +
                                    Agregar + <i aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <form>
                        <div class="form-row justify-content-md-center mb-2 top">
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" id="nombre" placeholder="Nombre de beneficiario">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" id="des" placeholder="Descripcion">
                            </div>
                            <div class="form-group col-md-2">
                                <button type="submit" class="btn bg-gradient-red text-white">++ Buscar ++<i
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                    <div class="row top">
                        <div class="col-md-12 text-center">
                            <div class="table-responsive">
                                <div class="table-responsive-sm table-bordered">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Descripcion</th>
                                                <th scope="col">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Banco de venezuela</td>
                                                <td>Banco de venezuela</td>
                                                <td>
                                                    <i class="fas fa-edit iconEdit" (click)="modficar(content)"></i>
                                                    <i class="far fa-trash-alt iconElimi" (click)="open(eliminar)"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header bg-gradient-red">
        <h4 class="modal-title tituloModal" id="modal-basic-title">Editar Registro</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-6">
                <label for="">Nombre</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="">Descripcion</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="row top5">
            <div class="col-md-12">
                <div class="text-center">
                    <p> <span class="textRojo"><strong>NOTA:</strong></span> El Campo Deben Ser Llenados Para Poder Procesar El Formulario.</p>
                </div>

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-gradient-red text-white" (click)="c('Save click')">Modificar </button>
        <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
</ng-template>


<ng-template #eliminar let-c="close" let-d="dismiss">
    <div class="modal-header headerModalE">
        <h4 class="modal-title tituloModal" id="modal-basic-title">Eliminar Registro</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Estas Seguro de eliminar el Siguiente Registro <strong> Descripción: Banco de venezuela</strong> </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-gradient-red text-white" (click)="c('Save click')">Eliminar </button>
        <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
</ng-template>


<ng-template #agregar let-c="close" let-d="dismiss">
    <div class="modal-header bg-gradient-red">
        <h4 class="modal-title tituloModal" id="modal-basic-title">Agregar accion</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <div class="row">
            <div class="col-md-6">
                <label for="">Nombre de beneficiario</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="">Descripcion del benefiario</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row top5">
            <div class="col-md-12">
                <div class="text-center">
                    <p> <span class="textRojo"><strong>NOTA:</strong></span> El Campo Deben Ser Llenados Para Poder Procesar El Formulario.</p>
                </div>

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn bg-gradient-red text-white" (click)="c('Save click')">Agregar </button>
        <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
</ng-template>