.inputModifica {
    margin-left: 1% !important;
    border-radius: 0.375rem !important;
    border-left: 1px solid !important;
    border: 1px solid #cad1d7 !important;
}

.topIconBusqueda {
    margin-top: 2% !important;
    font-size: 27px !important;
    cursor: pointer;
}

.topIconCalendario {
    font-size: 30px !important;
    cursor: pointer;
}

.topFecha {
    margin-top: 15%;
}

.top5 {
    margin-top: 5%;
}

.buttom {
    border-radius: -9% !important;
}

.radio {
    border-radius: 8%;
    margin-top: -2%;
}

.iconEdit {
    color: #5e72e4 !important;
    font-size: 22px !important;
    cursor: pointer;
    padding-right: 6%;
}

.custom-file-upload {
    border: 1px solid #2dce89;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    /* border-radius: 5%; */
    color: white;
    background-color: #2dce89;
}

input[type="file"] {
    display: none;
}

.headerModal {
    background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}

.top2 {
    margin-top: 2% !important;
}

.tituloModal {
    color: white !important;
    font-size: 20px !important;
}

.iconElimi {
    color: #a00c1f !important;
    font-size: 22px !important;
    cursor: pointer;
    padding-right: 6%;
}

.calendario {
    width: 2.75rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=)!important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
    border-color: #bbbfc5 !important;
}

.headerModalE {
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.top1 {
    margin-top: 1% !important;
}

.textRojo {
    color: #a00c1f !important;
}

.top2 {
    margin-top: 2% !important;
}
.top3 {
    margin-top: 3% !important;
}

.margenBoton{
    display: inline-block !important;
    margin-bottom: 1.6rem !important;
}

.tituloP {
    background: -webkit-linear-gradient(#f5365c, #f56036);
    color: rgb(255, 253, 253) !important;
    font-weight: bold;
}