<div class="header bg-gradient-red pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>    
  </div>
  
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Custodia</h6>
                <h2 class="mb-0">Títulos</h2>
              </div>
            </div>
          </div>
          <div class="card-body">

            <div class="row justify-content-md-center mb-4">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                  <label class="d-lg-none">Cliente</label>
                  <div class="input-group">                      
                    <input type="search" class="form-control float-rigth" placeholder="Cliente" aria-label="Cliente">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <span class="fa fa-search"></span>
                      </div>
                    </div>
                  </div> 
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                  <label class="d-lg-none">Titulo</label>
                    <div class="input-group">                      
                      <input type="search" class="form-control float-rigth" placeholder="Titulo" aria-label="Titulo">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span class="fa fa-search"></span>
                        </div>
                      </div>
                    </div> 
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3">
                    <label class="d-lg-none">Moneda</label>
                    <select name="" id="" class="form-control">
                        <option value=""> Seleccione Tipo de Moneda </option>
                    </select>
                  </div>

              </div>


              <div class="row justify-content-md-center mb-4">
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6 col-xl-3">
                    <label for="">Fecha Emisión Desde</label>
                    <form class="form-inline">
                        <div class="form-group">
                          <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                   name="fed" [(ngModel)]="emisionDesde" ngbDatepicker #ed="ngbDatepicker"
                                   [placement]="placement" [positionTarget]="fed">
                            <div class="input-group-append">
                              <button #fed class="btn calendario" (click)="ed.toggle()" type="button"></button>
                            </div>
                          </div>
                        </div>
                      </form>                     
                </div>

                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6 col-xl-3">
                    <label for="">Fecha Emisión Hasta</label>
                      <form class="form-inline">                         
                        <div class="form-group">
                            <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd"
                                     name="dpw" [(ngModel)]="emisionHasta" ngbDatepicker #eh="ngbDatepicker"
                                     [placement]="placement" [positionTarget]="buttonEl2">
                              <div class="input-group-append">
                                <button #buttonEl2 class="btn calendario" (click)="eh.toggle()" type="button"></button>
                              </div>
                            </div>
                          </div>
                        </form>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6 col-xl-3">
                    <label for="">Fecha Vencimiento Desde</label>
                    <form class="form-inline">
                        <div class="form-group">
                          <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                   name="dp" [(ngModel)]="vencimientoDesde" ngbDatepicker #vh="ngbDatepicker"
                                   [placement]="placement" [positionTarget]="buttonEl">
                            <div class="input-group-append">
                              <button #buttonEl class="btn calendario" (click)="vh.toggle()" type="button"></button>
                            </div>
                          </div>
                        </div>                        
                      </form>                      
                </div>

                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6 col-xl-3">
                    <label for="">Fecha Vencimiento Hasta</label>
                      <form class="form-inline">                         
                        <div class="form-group">
                            <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd"
                                     name="dpw" [(ngModel)]="vencimientoHasta" ngbDatepicker #vh="ngbDatepicker"
                                     [placement]="placement" [positionTarget]="buttonEl2">
                              <div class="input-group-append">
                                <button #buttonEl2 class="btn calendario" (click)="vh.toggle()" type="button"></button>
                              </div>
                            </div>
                          </div>
                        </form>
                </div>


                <div class="form-group col-md-2">
                    <div class="margenBoton"></div>
                    <button type="button" class="btn bg-gradient-red text-white">Buscar <i class="fa fa-search" aria-hidden="true"></i> </button>
                  </div>

              </div>


             
            <div class="card shadow">
                <div class="row top">
                    <div class="col-md-12 text-center">
                        <table class="table-responsive">
                            <div class="table-responsive-sm table-bordered">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Clientes</th>
                                            <th scope="col">Títulos</th>
                                            <th scope="col">Moneda</th>
                                            <th scope="col">Emisión</th>
                                            <th scope="col">Vencimiento</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Valor Nominal</th>
                                            <th scope="col">Último Cobro Comisión</th>
                                            <th scope="col">Último Pago Cupon</th>
                                            <th scope="col">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>CUSTODIA_COMISIONES</td>
                                            <td>COMISIÓN CUSTODIA</td>
                                            <td>COBRO DE COMISIÓN POR CUSTODIA</td>
                                            <td>DEB</td>
                                            <td>0</td>
                                            <td>COMISIÓN CUSTODIA</td>
                                            <td>COBRO DE COMISIÓN POR CUSTODIA</td>
                                            <td>DEB</td>
                                            <td> 0</td>
                                            <td>
                                                <i class="fas fa-history iconEdit" ngbTooltip="Historial Cliente" (click)="cliente(ClienteDe)" ></i>
                                                <i class="fas fa-folder iconElimi" ngbTooltip="Detalle Título"  (click)="detalle(detalleM)" ></i>
                                               
                                            </td>    
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
  
  <ng-template #detalleM let-c="close" let-d="dismiss">
    <div class="modal-header headerModal">
      <h4 class="modal-title tituloModal" id="modal-basic-title">Título Detalle</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
        <div class="row">
            <div class="col-md-3 mb-4 text-left">
                <label for="">Serial de Identificación (Isin)</label>
                <input type="text" class="form-control" placeholder="" disabled>
            </div>
            <div class="col-md-3 mb-4 text-left">
                <label for="">Título</label>
                <input type="text" class="form-control" value="ARGENTINA (FRNL)" disabled>
            </div>
            <div class="col-md-3 mb-4 text-left">
              <label for="">Descripción</label>
              <input type="text" class="form-control" value="ARGENTINA (FRNL) -VTO 03-31-15" disabled>
            </div>
            <div class="col-md-3 mb-4 text-left">
              <label for="">Valor Nominal</label>
              <input type="text" class="form-control" value="1" disabled>
          </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-4 text-left">
                <label for="">Moneda Denominación</label>
                <input type="text" class="form-control" placeholder=""  value="USD" disabled>
            </div>
            <div class="col-md-3 mb-4 text-left">
              <label for="">Moneda Negociación</label>
              <input type="text" class="form-control" placeholder=""  value="USD" disabled>
            </div>
            <div class="col-md-3 mb-4 text-left">
              <label for="">Fecha Emisión</label>
              <input type="text" class="form-control" placeholder=""  value="21/12/2000" disabled>
            </div>
            <div class="col-md-3 mb-4 text-left">
              <label for="">Fecha Vencimiento</label>
              <input type="text" class="form-control" placeholder=""  value="31/03/2055" disabled>
            </div>     
        </div>
        <div class="row">
          <div class="col-md-3 mb-4 text-left">
            <label for="">Fecha Proximo Cupón</label>
            <input type="text" class="form-control" placeholder=""  value="" disabled>
          </div>  
          <div class="col-md-3 mb-4 text-left">
            <label for="">Fecha Último Cupón</label>
            <input type="text" class="form-control" placeholder=""  value="" disabled>
          </div>
          <div class="col-md-3 mb-4 text-left">
            <label for="">Fecha Proxima Amortización</label>
            <input type="text" class="form-control" placeholder=""  value="" disabled>
          </div> 
          <div class="col-md-3 mb-4 text-left">
            <label for="">Fecha Última Amortización</label>
            <input type="text" class="form-control" placeholder=""  value="" disabled>
          </div> 
        </div>
        
    </div>
    <div class="modal-footer">     
      <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #ClienteDe let-c="close" let-d="dismiss">
    <div class="modal-header headerModal">
      <h4 class="modal-title tituloModal" id="modal-basic-title">Datos del Cliente</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
        <div class="row">
            <div class="col-md-4 mb-4 text-left">
                <label for="">Nombre</label>
                <input type="text" class="form-control" value="ANDREINA ESCALONA MARQUEZ" disabled>
            </div>
            <div class="col-md-4 mb-4 text-left">
                <label for="">Cedula o Rif</label>
                <input type="text" class="form-control" value="15516673" disabled>
            </div>
            <div class="col-md-4 mb-4 text-left">
              <label for="">Tipo</label>
              <input type="text" class="form-control" value="VENEZOLANO" disabled>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-3 mb-4 text-left">
                <label for="">Número Cuenta Custodia</label>
                <input type="text" class="form-control" placeholder=""  value="52" disabled>
            </div>
            <div class="col-md-3 mb-4 text-left">
              <label for="">Fecha Cuenta Custodia</label>
              <input type="text" class="form-control" placeholder=""  value="29/07/2009" disabled>
            </div>    
        </div>        
    </div>
    <div class="modal-footer">     
      <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cerrar</button>
    </div>
  </ng-template>

