<div class="header bg-gradient-red pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>    
  </div>
  
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Custodia</h6>
                <h2 class="mb-0">Cupones</h2>
              </div>
            </div>
          </div>
          <div class="card-body">

            <div class="row justify-content-md-center mb-4">
                <div class="col-md-4">
                  <div class="input-group">                      
                    <input type="search" class="form-control float-rigth" placeholder="Cliente" aria-label="Cliente">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <span class="fa fa-search" ngbTooltip="Buscar Cliente"></span>
                      </div>
                    </div>
                  </div> 
                </div>

                <div class="form-group col-md-3">
                    <div class="margenBoton"></div>
                    <button type="button" class="btn bg-gradient-red text-white" (click)="buscarCliente()">Buscar Detalle <i class="fa fa-search" aria-hidden="true"></i> </button>
                  </div>
              </div>

              <div class="card text-center" *ngIf="visible"> 
                <div class="card-header">
                    <h4 class="mb-0">Cliente: SUSANA ISABEL BOADO GOYO V-XXXXXXXX </h4>                  
                </div>
                <div class="card-body">
                    <div class="row justify-content-md-center mb-4">
                        <h4 class="card-title">Intereses Acumulados hasta 12-08-2022</h4>
                        <div class="card shadow">
                          <div class="row top">
                              <div class="col-md-12 text-center">
                              <table class="table-responsive">
                                      <div class="table-responsive-sm" >
                                          <table class="table table-striped table-hover">
                                              <thead>
                                                  <tr>
                                                      <th scope="col">Título</th>
                                                      <th scope="col">Fecha Último Pago</th>
                                                      <th scope="col">Fecha Prox. Pago </th>
                                                      <th scope="col">Cant. Custodia </th>
                                                      <th scope="col">Tasa %</th>
                                                      <th scope="col">Mondeda Neg.</th>
                                                      <th scope="col">Interes Acumulado</th> 
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                 <tr>
                                                    <td>Venenz</td>
                                                    <td>26/02/2009</td>
                                                    <td>26/02/2009</td>
                                                    <td>0,00</td>
                                                    <td>5,75</td>
                                                    <td>USD</td>
                                                    <td>0,00000</td>
                                                 </tr>
                                                 <tr>
                                                  <td>Venenz</td>
                                                  <td>26/02/2009</td>
                                                  <td>26/02/2009</td>
                                                  <td>0,00</td>
                                                  <td>5,75</td>
                                                  <td>USD</td>
                                                  <td>0,00000</td>
                                               </tr>
                                              </tbody>
                                          </table>
                                      </div>
                              </table>
                              </div>
                          </div>
                      </div>
                    </div>

                    <div class="row justify-content-md-center mb-4">
                      <div class="col-md-6">
                        <div class="card shadow top5">
                          <div class="row top">
                              <div class="col-md-12 text-center">
                              <table class="table-responsive">
                                      <div class="table-responsive-sm">
                                          <table class="table table-striped table-hover">
                                              <thead>
                                                  <tr>
                                                      <th scope="col" colspan="2">Total Intereses Acumulados</th>                                                    
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                    <td>Total USD</td>
                                                    <td>0,000000</td>
                                                </tr>
                                              </tbody>
                                          </table>
                                      </div>
                              </table>
                              </div>
                          </div>
                      </div>
                      </div>                        
                    </div>                      

                    <div class="row justify-content-md-center mb-4">
                      <div class="col-md-12">
                        <h4 class="card-title">Opereciones Pendientes Por Pagar</h4>                      
                      </div>                      
                    </div>


                    <div class="row justify-content-md-center mb-4">
                      <div class="col-md-12">
                        <div class="card shadow">
                          <div class="row top">
                              <div class="col-md-12 text-center">
                              <table class="table-responsive">
                                      <div class="table-responsive-sm" >
                                          <table class="table table-striped table-hover">
                                              <thead>
                                                  <tr>
                                                      <th scope="col">Título</th>
                                                      <th scope="col">Nro. Orden</th>
                                                      <th scope="col">Nro. Oper</th>
                                                      <th scope="col">Fecha Aplicar</th>
                                                      <th scope="col">Fecha Inicio Cupón</th>
                                                      <th scope="col">Moneda</th>
                                                      <th scope="col">Monto</th> 
                                                      <th scope="col">Transacción</th> 
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                 <tr>
                                                    <td>Venenz Global 2016</td>
                                                    <td>2260</td>
                                                    <td>1150</td>
                                                    <td>26/02/2009</td>
                                                    <td>26/02/2008</td>                                                    
                                                    <td>USD</td>
                                                    <td>115,00</td>
                                                    <td>PAGO CUPONES</td>
                                                 </tr>
                                              </tbody>
                                          </table>
                                      </div>
                              </table>
                              </div>
                          </div>
                      </div>  
                      </div>                      
                    </div>
                    
                    <div class="row justify-content-md-center mb-4">
                      <div class="col-md-6">
                        <div class="card shadow top5">
                          <div class="row top">
                              <div class="col-md-12 text-center">
                              <table class="table-responsive">
                                      <div class="table-responsive-sm">
                                          <table class="table table-striped table-hover">
                                              <thead>
                                                  <tr>
                                                      <th scope="col" colspan="2">Total Operaciones</th>                                                    
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                    <td>Total USD</td>
                                                    <td>0,000000</td>
                                                </tr>
                                              </tbody>
                                          </table>
                                      </div>
                              </table>
                              </div>
                          </div>
                      </div>
                      </div>                        
                    </div>  
                  
                    <div class="d-flex bd-highlight top5" >
                        <div class="p-2 flex-grow-1 bd-highlight"></div>
                        <div class="p-2 bd-highlight"></div>
                        <div class="p-2 bd-highlight">
                            <button type="button" class="btn bg-gradient-red text-white" (click)="buscarCliente()">Regresar <i class="fa fa-trash" aria-hidden="true"></i> </button>
                        </div>
                    </div>
                
            </div>
            
          </div>
        </div>
      </div>
    </div>    
  </div>
  


