.top5{
    margin-top: 5%;
}

.iconEdit{
    color:#5e72e4 !important;
    font-size: 22px !important;
    cursor: pointer;
    padding-right: 6%;
}


.headerModal{
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.tituloModal{
    color: white !important;
    font-size: 20px !important;
}

.iconElimi{
    color:#a00c1f !important;
    font-size: 22px !important;
    cursor: pointer;
}

.headerModalE{
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.top1{
    margin-top: 1% !important;
}

.textRojo{
    color:#a00c1f !important;
}
.tabla{
    font-size: 15px !important;
    font-family: 'Times New Roman', Times, serif;
}