<div class="header bg-gradient-red pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>    
  </div>
  
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Títulos</h6>
                <h2 class="mb-0">Precios de Títulos</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row mb-4">
              <div class="col-md-12 text-left">
                <button type="button" class="btn bg-gradient-red text-white" (click)="modficar(nuevo)">+ Agregar Precio de Título+ <i aria-hidden="true"></i> </button>
              </div> 
            </div>
            <div class="row justify-content-md-center mb-4">
              <div class="col-md-3">
                <select class="form-control" name="" id="">
                    <option value="0">Seleccionar Status Precio</option>
                 </select> 
              </div>
              <div class="col-md-2">
                <button type="button" class="btn bg-gradient-red text-white">Buscar <i class="fa fa-search" aria-hidden="true"></i> </button>
              </div>
            </div>
            <div class="card shadow">
                <div class="row top">
                    <div class="col-md-12 text-center">
                        <table class="table-responsive">
                            <div class="table-responsive-sm table-bordered">
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <th scope="col">Título</th>
                                        <th scope="col">Precio<br>Nominal</th>
                                        <th scope="col">Precio de<br>Mercado</th>
                                        <th scope="col">Precio de<br>Recompra</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Usuario<br>Aprobador</th>
                                        <th scope="col">Fecha<br>Aprobación</th>
                                        <th scope="col-3">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <td>ARG BONDES</td>
                                        <td>USD</td>
                                        <td>APROBADO</td>
                                        <td>NM11383</td>
                                        <td>30-08-2009</td>
                                        <td>NM11171</td>
                                        <td>30-09-2009</td>     
                                        <td>
                                            <i class="fas fa-edit iconEdit" (click)="modficar(content)"></i>
                                            <i class="fas fa-history iconEdit" (click)="open(history)"></i>
                                            <i class="far fa-trash-alt iconElimi"  (click)="open(eliminar)"></i>                            
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
  
  <ng-template #nuevo let-c="close" let-d="dismiss">
    <div class="modal-header headerModal">
      <h4 class="modal-title tituloModal" id="modal-basic-title">Agregar Precio Título</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
        <div class="row">
            <div class="col-md-6 mb-4">
                <label for="">Seleccionar Título</label>
                <select class="form-control" name="" id="">
                    <option value="0">Seleccione</option>
                    <option value="1">ARG BONDES 4.005</option>
                </select>
            </div>
            <div class="col-md-6 mb-4 text-center">
                <label for="">Precio Nominal</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <label for="">Precio de Mercado</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6 text-center">
                <label for="">Precio de Recompra</label>
                <input type="text" class="form-control">
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bg-gradient-red text-white" (click)="c('Save click')">Guardar </button>
      <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
  </ng-template>
  
  
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header headerModal">
      <h4 class="modal-title tituloModal" id="modal-basic-title">Editar Precio Título</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
        <div class="row">
            <div class="col-md-6 mb-4">
                <label for="">Título</label>
                <input type="text" class="form-control" placeholder="ARG BONDES 4.005" disabled>
            </div>
            <div class="col-md-6 mb-4 text-center">
                <label for="">Precio Nominal</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <label for="">Precio de Mercado</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6 text-center">
                <label for="">Precio de Recompra</label>
                <input type="text" class="form-control">
            </div>
            
        </div>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bg-gradient-red text-white" (click)="c('Save click')">Modificar </button>
      <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
  </ng-template>

  <ng-template #history let-c="close" let-d="dismiss">
    <div class="modal-header headerModal">
      <h4 class="modal-title tituloModal" id="modal-basic-title">Historial de Precios Título</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="card shadow">
            <div class="row top">
                <div class="col-md-12 text-center">
                    <table class="table-responsive">
                        <div class="table-responsive-sm table-bordered">
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">Título</th>
                                    <th scope="col">Fecha<br>Actualización</th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Precio<br>Nominal</th>
                                    <th scope="col">Precio de<br>Mercado</th>
                                    <th scope="col">Precio de<br>Recompra</th>
                                    <th scope="col">Usuario<br>Aprobador</th>
                                    <th scope="col">Fecha<br>Aprobación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td>ARG BONDES</td>
                                    <td>30-09-2009</td>
                                    <td>NM11383</td>
                                    <td>12002</td>
                                    <td>12002</td>
                                    <td>12002</td>
                                    <td>NM11383</td>
                                    <td>30-09-2009</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Regresar </button>
    </div>
  </ng-template>
  
  
  <ng-template #eliminar let-c="close" let-d="dismiss">
    <div class="modal-header headerModalE">
      <h4 class="modal-title tituloModal" id="modal-basic-title">Eliminar Título</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
        <p><strong>¿Está seguro que desea eliminar este título? </strong></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bg-gradient-red text-white" (click)="c('Save click')">Eliminar </button>
      <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
  </ng-template>

