<div class="header bg-gradient-red pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>    
</div>

<div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Generales</h6>
                <h2 class="mb-0">Oficinas Comerciales</h2>
              </div>
            </div>
          </div>
          <div class="card-body">                   

            <div class="row top5">
                <div class="col-md-12">
                    <div class="text-right">
                        <span class="agregar" (click)="modficar(Agregar)">Agregar <i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                        
                    </div>    
                </div>
            </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                          <th scope="col">Oficina</th>
                          <th scope="col">Descripción</th>
                          <th scope="col">Estado</th>
                          <th scope="col">Municipio</th>
                          <th scope="col">Dirección</th>
                          <th scope="col">Estatus</th>                          
                          <th scope="col">Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>101</td>
                          <td>El Paraiso Av Republica</td>
                          <td>Dtto. Capital</td>
                          <td>Libertador</td>
                          <td>Av. Paez con calle Republica, quinta La Castellana </td>
                          <td>Inactivo</td>                          
                          <td>
                            <i class="fas fa-edit iconEdit" (click)="modficar(Modificar)"></i>
                            <i class="far fa-trash-alt iconElimi"  (click)="open(eliminar)"></i>                            
                          </td>
                        </tr>
                        </tbody>
                      </table>
                </div>
            
          </div>
        </div>
      </div>
    </div>    
  </div>

  

  <ng-template #Modificar let-c="close" let-d="dismiss">
    <div class="modal-header headerModal">
      <h4 class="modal-title tituloModal" id="modal-basic-title">Modificar Oficina Comercial</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="numOficna">Número de Oficina</label>
                <input type="number" name="" id="" class="form-control" value="{{ oficina }}">               
            </div>

            <div class="form-group col-md-4">
                <label for="numOficna">Descripción</label>
                <input type="text" name="" id="" class="form-control">               
            </div>

            <div class="form-group col-md-3">
                <label for="numOficna">Estado</label>
                <select name="" id="" class="form-control">
                    <option value="">Seleccione</option>
                </select>               
            </div>

            <div class="form-group col-md-3">
                <label for="numOficna">Municipio</label>
                <select name="" id="" class="form-control">
                    <option value="">Seleccione</option>
                </select>               
            </div>
        </div>

        

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="direccion">Dirección</label>
                <textarea class="form-control" name="" id="direccion" cols="2" rows="3"></textarea>                
            </div>
        </div>        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="c('Save click')">Guardar </button>
      <button type="button" class="btn btn-primary" (click)="d('Cross click')">Cancelar </button>
    </div>
  </ng-template>


  <ng-template #eliminar let-c="close" let-d="dismiss">
    <div class="modal-header headerModalE">
      <h4 class="modal-title tituloModal" id="modal-basic-title">Eliminar Oficina Comercial</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>Estas Seguro de eliminar el Siguiente Registro <strong> Oficina: 101</strong> </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="c('Save click')">Eliminar </button>
      <button type="button" class="btn btn-primary" (click)="d('Cross click')">Cancelar </button>
    </div>
  </ng-template>


  <ng-template #Agregar let-c="close" let-d="dismiss">
    <div class="modal-header headerModal">
      <h4 class="modal-title tituloModal" id="modal-basic-title">Agregar Oficina Comercial</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="numOficna">Número de Oficina</label>
                <input type="number" name="" id="" class="form-control">               
            </div>

            <div class="form-group col-md-4">
                <label for="numOficna">Descripción</label>
                <input type="text" name="" id="" class="form-control">               
            </div>

            <div class="form-group col-md-3">
                <label for="numOficna">Estado</label>
                <select name="" id="" class="form-control">
                    <option value="">Seleccione</option>
                </select>               
            </div>

            <div class="form-group col-md-3">
                <label for="numOficna">Municipio</label>
                <select name="" id="" class="form-control">
                    <option value="">Seleccione</option>
                </select>               
            </div>
        </div>

        

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="direccion">Dirección</label>
                <textarea class="form-control" name="" id="direccion" cols="2" rows="3"></textarea>                
            </div>
        </div>        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="c('Save click')">Guardar </button>
      <button type="button" class="btn btn-primary" (click)="d('Cross click')">Cancelar </button>
    </div>
  </ng-template>