

<div class="header bg-gradient-red pb-8 pt-4 pt-md-8">
    <div class="container-fluid">
      <p></p>
      </div>
  </div>
  
  
  
  
  
  
  
  <div class="container-fluid mt--9">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col-md-10">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Reportes</h6>
                <h2 class="mb-0">Generales</h2>
              </div>
              <div class="col-md-2 text-right">
  
                
               
                  <button  mat-mini-fab color="primary" aria-label="Agregar">
                    <mat-icon class="waves waves-effect waves-light">more_vert</mat-icon>
                  </button>
                
              </div>
              
  
            </div>
          </div>
          <div class="card-body">
           <!-- Contenido WEB Configuracion Menu -->
            
           <div class="container">
             <div class="row">
                <div class="col-md-12">
                    
                    <form role="form">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="txtControl"> Nro. Identidad </label>                    
                                <input type="text" class="form-control" id="txtControl"  readonly>
                            </div>
                            <!-- <div class="form-group col-md-3">
                                <label for="tmsCreacion">Fecha Creacion</label>
                                <form class="form-inline">
                                    <div class="form-group" style="width:100%">
                                        <div class="input-group" style="width:100%">
                                            <input class="form-control" placeholder="dd/mm/aaaa" 
                                            [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="fcreacion" ngbDatepicker #fc="ngbDatepicker" 
                                            [placement]="placement" [positionTarget]="buttonEl">
                                            <div class="input-group-append">
                                                <button #buttonEl class="btn calendario" (click)="fc.toggle()" type="button"></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="tmsOrigen">Fecha Origen</label>
                                <form class="form-inline">
                                    <div class="form-group" style="width:100%">
                                        <div class="input-group" style="width:100%">
                                            <input class="form-control" placeholder="dd/mm/aaaa" 
                                            [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="forigen" ngbDatepicker #fo="ngbDatepicker" 
                                            [placement]="placement" [positionTarget]="buttonEl">
                                            <div class="input-group-append">
                                                <button #buttonEl class="btn calendario" (click)="fo.toggle()" type="button"></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div> -->
                            <div class="form-group col-md-3">
                                <label for="txtOrigen">Id Operacion</label>
                                <input type="txtOrigen" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtSalida">Oficinas</label>
                                <select class="form-control" >
                                    <option value="0">Seleccione Oficina</option>
                                    
                                   
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                           
                            <div class="form-group col-md-6">
                                <label for="txtControl"> Turnos </label>                    
                                <select class="form-control" >
                                    <option value="0">Seleccione Turno</option>
                                    <option value="1">Turno 1</option>
                                    <option value="2">Turno 2</option>
                                    <option value="3">turno 3</option>                                 
                                </select>
                                
                            </div>
                            <div class="form-group col-md-3">
                                <label for="txtOrigen">Fecha desde</label>
                                <input type="txtOrigen" class="form-control">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="txtOrigen">Fecha Hasta</label>
                                <input type="txtOrigen" class="form-control">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-3">

                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtControl"> Tipo de Reporte </label>                    
                                <select class="form-control" >
                                    <option value="0">Seleccione Reporte</option>
                                    <option value="1">OPERACIONES EN OFICINAS</option>
                                    <option value="2">CONSOLIDADO POR DIVISAS</option>
                                    <option value="3">ULTIMAS OPERACIONES</option>
                                    <option value="4">OPERACIONES DE MAYOR CUANTIA</option>
                                    <option value="5">CONSOLIDADO POR CLIENTES</option>                                   
                                </select>

                            </div>
                            <div class="form-group col-md-3">

                            </div>
                        </div>
                    </form>



                  
                </div>
              </div> 
            </div>
  
            <h4>Listado General</h4>
            <hr>
            
  
          
          
  
  
  
  
       
        <br>
  
  
  
  
  
         
            <!-- Card stats -->
           
  
  
          </div>
        </div>
      </div>
    </div>    
  </div>
  
  