<div class="header bg-gradient-red pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>    
  </div>
  
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Recompras</h6>
                <h2 class="mb-0">Precios de Recompras</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row mb-4">
              <div class="col-md-12 text-left">
                <button type="button" class="btn bg-gradient-red text-white" (click)="modficar(nuevo)">+ Agregar Nuevo Precio + <i aria-hidden="true"></i> </button>
              </div> 
            </div>
            <div class="row justify-content-md-center mb-4">
              <div class="col-md-3">
                <select class="form-control" name="" id="">
                    <option value="0">Seleccionar Status</option>
                    <option value="1">Aprobado</option>
                    <option value="2">Pendiente</option>
                 </select> 
              </div>
              <div class="col-md-2">
                <button type="button" class="btn bg-gradient-red text-white">Buscar <i class="fa fa-search" aria-hidden="true"></i> </button>
              </div>
            </div>
            <div class="card shadow">
                <div class="row top">
                    <div class="col-md-12 text-center">
                        <table class="table-responsive">
                            <div class="table-responsive-sm table-bordered">
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <th scope="col">Título</th>
                                        <th scope="col">Moneda</th>
                                        <th scope="col">Rango Desde</th>
                                        <th scope="col">Rango Hasta</th>
                                        <th scope="col">Precio Recompra</th>
                                        <th scope="col">&nbsp;  &nbsp;  &nbsp; Tasa Pool  &nbsp;  &nbsp;  &nbsp;</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Usuario<br>Aprobador</th>
                                        <th scope="col">Fecha<br>Aprobación</th>
                                        <th scope="col">Usuario</th>
                                        <th scope="col">Fecha<br>Actualización</th>
                                        <th scope="col-3">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <td>BODEN15</td>
                                        <td>USD</td>
                                        <td><input type="text" class="form-control" placeholder="1"></td> 
                                        <td><input type="text" class="form-control" placeholder="10000"></td> 
                                        <td><input type="text" class="form-control" placeholder="95.00000"></td> 
                                        <td><input type="text" class="form-control" placeholder="95.00000"></td> 
                                        <td>APROBADO</td>
                                        <td>NM11383</td>
                                        <td>30-08-2009</td>
                                        <td>NM11171</td>
                                        <td>30-09-2009</td>     
                                        <td>
                                            <i class="fas fa-edit iconEdit" (click)="modficar(content)"></i>
                                            <i class="far fa-trash-alt iconElimi"  (click)="open(eliminar)"></i>                            
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
  
  <ng-template #nuevo let-c="close" let-d="dismiss">
    <div class="modal-header headerModal">
      <h4 class="modal-title tituloModal" id="modal-basic-title">Agregar Nuevo Precio</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
        <div class="row">
            <div class="col-md-6 mb-4">
                <label for="">Seleccionar Título</label>
                <select class="form-control" name="" id="">
                    <option value="">Seleccione</option>
                </select>
            </div>
           
            <div class="col-md-6 mb-4">
                <label for="">Moneda Denominación</label>
                <select class="form-control" name="" id="">
                    <option value="">Seleccione</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <label for="">Rango Desde</label>
                <input type="text" class="form-control">
            </div>
           
            <div class="col-md-3 text-center">
                <label for="">Rango Hasta</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-3 text-center">
                <label for="">Precio Recompra</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-3 text-center">
                <label for="">Tasa Pool</label>
                <input type="text" class="form-control">
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bg-gradient-red text-white" (click)="c('Save click')">Guardar </button>
      <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
  </ng-template>
  
  
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header headerModal">
      <h4 class="modal-title tituloModal" id="modal-basic-title">Editar Título</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
        <div class="row">
            <div class="col-md-6 mb-4">
                <label for="">Seleccionar Título</label>
                <select class="form-control" name="" id="">
                    <option value="">Seleccione</option>
                </select>
            </div>
           
            <div class="col-md-6 mb-4">
                <label for="">Moneda Denominación</label>
                <select class="form-control" name="" id="">
                    <option value="">Seleccione</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <label for="">Rango Desde</label>
                <input type="text" class="form-control">
            </div>
           
            <div class="col-md-3 text-center">
                <label for="">Rango Hasta</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-3 text-center">
                <label for="">Precio Recompra</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-3 text-center">
                <label for="">Tasa Pool</label>
                <input type="text" class="form-control">
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bg-gradient-red text-white" (click)="c('Save click')">Modificar </button>
      <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
  </ng-template>
  
  
  <ng-template #eliminar let-c="close" let-d="dismiss">
    <div class="modal-header headerModalE">
      <h4 class="modal-title tituloModal" id="modal-basic-title">Eliminar Título</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
        <p><strong>¿Está seguro que desea eliminar este título? </strong></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bg-gradient-red text-white" (click)="c('Save click')">Eliminar </button>
      <button type="button" class="btn bg-gradient-red text-white" (click)="d('Cross click')">Cancelar </button>
    </div>
  </ng-template>
